.PageTitle-link {
  color: #61dafb;
  font-variant: normal;
}

.PageTitle-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .PageTitle-logo {
    animation: PageTitle-logo-spin infinite 20s linear;
  }
}
@keyframes PageTitle-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}