.App {
  text-align: center;
  height: auto;
  width: auto;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-nameDiv {
  border: 5px, 'solid', #8fffea;
}
.App-nameFont {
  color: #61fbda;
  font-size: larger;
  font-variant: small-caps;
}

.App-btnStyle {
  background-color: #61dafb66 !important;
  color: #22bdcd !important;
  font: bold !important;
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
